.app {
  margin: 4rem auto;
  max-width: 20rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media screen (min-width: 769px) {
  .app {
    padding: 0 0;
  }
}