.todo-search {
  margin: 0;
  width: 95%;
  padding: 0.5rem;
  font-size: 24px;
  font-weight: 400;
  border-radius: 5px;
  color: #1E1E1F;
  border: 2px solid #202329;
}

.todo-search::placeholder {
  color: #A5A5A5;
  font-weight: 400;
}

.todo-search:focus {
  outline-color: #61DAFA;
}