.todo-item {
  width: 100%;
  margin-top: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.todo-text {
  display: flex;
}

.todo-item-p {
  font-size: 18px;
}

.todo-item-p--complete {
  text-decoration: line-through;
}

.icon {
  width: 48px;
  height: 48px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-check--active {
  color: #4caf50;
}

.icon-delete:hover {
  color: red;
}